#title{
  width: 1226px;
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
    color: #b0b0b0;
    background-color: black;
}

#title2{
  margin-left: 600px;
  width: 1226px;
  *zoom: 1;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
    color: #b0b0b0;
    background-color: black;
}

#MI {
  font-size: xx-large;
  color: orange;
}

#text {
  padding: 26px 10px 38px;
  *padding: 26px 8px 38px;
  color: #333;
  margin-left: 191px;
  margin-right: auto;
  width: 70%;
}

#sousuo {
  padding: 300px;
}